#macro (writeTable $productList)
  #set ($rowCount = 1)      
  #foreach($product in $productList)  
  #if ($rowCount % 2 == 0)
    #set ($bgcolor = "BLUE")
       <tr>
   	  <td bgcolor="$bgcolor">$product.trim()</td><br/>
      <td bgcolor="$bgcolor">$product.replace(" ","")</td><br/><br/>
    </tr>   
  #else
    #set ($bgcolor = "RED")  
      <tr>
   	  <td bgcolor="$bgcolor">$product.trim()</td><br/>
      <td bgcolor="$bgcolor">$product.replace(" ","")</td><br/>
    </tr>       
  #end
                
    #set ($rowCount = $rowCount + 1)
  #end
  $product
#end


#set ($products = ["on e .", "two", "three"])
<html>
  <head>
    <title>Title</title>
  </head>
  <body>
    <table>
      #writeTable($products)
    </table>
  </body>
</html>
